# This code is part of Qiskit.
#
# (C) Copyright IBM 2025.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: CD Pipeline

on:
  push:
    tags:
      - '*'

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3

      - name: Install Python
        run: uv python install 3.11

      - name: Cache uv
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: ${{ runner.os }}-uv-cd-${{ hashFiles('uv.lock') }}

      - name: Sync dependencies
        run: uv sync

      - name: Build package
        run: uv build

      - uses: actions/upload-artifact@v4
        with:
          path: ./dist/*

      - name: Deploy to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1