name: CI Pipeline

on:
  pull_request:
    types: [opened, reopened, edited, ready_for_review, synchronize]

jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r ./requirements-dev.txt

      - name: Run lint
        run: |
          pylint --errors-only ./qiskit_transpiler_service
          python -m black --check .
  
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11, 3.8]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r ./requirements-dev.txt

      - name: Run tests
        env:
          QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
        run: |
          python -m pytest .
